
.jumbo-bg{
    background: url('/Images/BackgroundImage.jpg') no-repeat center;
    background-size: cover;
}
body{
    background-color: rgba(223, 199, 192, 0.233);
}
.well{
    border-color: rgb(27, 26, 27);
    border-width: 1px;
    background-color: rgb(243, 220, 220);
    
}

.col-md-5{
margin-bottom: 20px;
}

h5{ 
    font-size: 18px;
    font-weight: bold;
    color:rgb(34,94,168) }

.panel-title{
    font-size: 18px;
    font-weight:bold;
    color:rgb(34,94,168);
}
